    img {
        max-width: 100%;
    }
    
    .icono {
        width: 20%;
    }
    
    a {
        color: #3258A6;
    }
    
    #principal {
        width: 40%;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    
    .mediano {
        font-size: 2em;
    }
    
    .quitar-float {
        float: none;
    }
    
    .espacio-arriba {
        margin-top: 100px;
    }
    
    .fuenteMontserrat {
        font-family: 'Montserrat', sans-serif;
    }
    
    .fuenteLobster {
        font-family: 'Lobster', cursive;
    }
    
    .azulfuerte {
        color: #025159;
    }
    
    .fondo {
        background-color: #F2ECE4;
    }
    
    .se-azul {
        background-color: #048C8C;
    }
    
    .blanco {
        color: white;
    }
    
    .espacio-derecha {
        margin-right: 1em;
    }
    
    .no-lista {
        margin: 0px;
        padding: 0px;
    }
    
    .no-lista li {
        list-style-type: none;
    }
    
    .padding-largo {
        padding: 5px 10px;
    }
    
    .inline-block {
        float: none;
        display: inline-block;
        margin-right: -4px;
    }
    
    .grande {
        font-size: 4em;
    }
    
    .tipografia {
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
    
    a,
    .azul {
        color: #0F2259;
    }
    
    .vete-arriba {
        vertical-align: top;
    }